<div class="sidebar">
    <span class="search-title">Search</span>
    <span class="search-subtitle">Search by cat's name, breed or description details </span>
  
    <mat-form-field class="search-input" appearance="fill">
      <mat-label>Enter data</mat-label>
      <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Search cats">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
  
    <div class="sort-section">
      <span class="search-title">Sort by</span>
      <div class="sort-buttons">
        <mat-radio-group [(ngModel)]="sortOrder" (change)="onSort()">
          <div class="sort-radio-button-wrapper">
            <mat-radio-button class="sort-radio-button" value="latest">Latest</mat-radio-button>
          </div>
          <div class="sort-radio-button-wrapper">
            <mat-radio-button class="sort-radio-button" value="oldest">Oldest</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
  
    <div class="sort-section">
      <span class="search-title">Sort by age</span>
      <div class="sort-buttons">
        <mat-radio-group [(ngModel)]="sortAgeOrder" (change)="onSortAge()">
          <mat-radio-button class="sort-radio-button" value="youngest">Youngest</mat-radio-button>
          <mat-radio-button class="sort-radio-button" value="oldest">Oldest</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>